html, body {
    height: 100%;
    width: 100%;
    right:0;
    left:0;
    background-color: #363637;
;
}

.text-input{
}

#main {
    width:100%;
    left: 0;
    right: 0;
}

#header {
    z-index: 3;
    top: 0;
    max-height: 100px;
    background-color: #161718;
    border-bottom: #ff5519 5px solid;
}

.orange {
    color: #ff5519;
}

#searchBtn {
    border-radius: 0 3px 3px 0;
    color: #212529;
    background: #363637;
    height: 40px;
}

#searchBtn:hover {
    color: #ff5519;
    opacity: 70%;
}


#search {
    border-radius: 3px 0 0 3px;
    border: none;
    color: #212529;
    background: #363637;
    font-size: 18px;
    height: 40px;
}

#search::placeholder {
    color: #4e4e4e;
}

#signinBtn, #registerBtn {
    background: transparent;
    border-radius: 0;
}

.orangeBtn:hover{
    background-color: #ff5519;
    color: #161718;
}

.orangeBtn{
    border: #ff5519 2px solid;
    border-radius: 3px;
    background-color: transparent;
}

#registerBtn:hover {
    background-color: #ff5519;
    color: #161718;
}

#registerBtn {
    background-color: #161718;
    color: #ff5519;
}

#signinBtn {
    border: #ff5519 2px solid;
    border-radius: 3px;
}

#signinBtn:hover {
    background-color: #ff5519;
    color: #161718;
}


.link {
    color: white;
    font-weight:bold;
    text-decoration: none;
}

.link:hover {
    color: lightgray;
}

.red {
    background-color: red
}