html, body {
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #363637;;
}

.text-input {
}

#main {
    width: 100%;
    left: 0;
    right: 0;
}

.link {
    color: #bdbdbd;
    text-decoration: none;
}

.link:hover {
    opacity: 75%;
    text-decoration: underline;
}

.orange {
    color: #ff5519;
}


.orangeBtn:hover {
    background-color: #ff5519;
    color: #161718;
}

.orangeBtn {
    border: #ff5519 2px solid;
    border-radius: 3px;
    background-color: transparent;
}


.red {
    background-color: red
}

.green {
    color: #14a763;
}

.greenBtn {
    border: #14a763 2px solid;
    border-radius: 3px;
    background-color: transparent;
}

.greenBtn:hover {
    background-color: #14a763;
    color: #161718;
}


.yellow {
    color: #ffe400;
}

.yellowBtn {
    border: #ffe400 2px solid;
    border-radius: 3px;
    background-color: transparent;
}

.yellowBtn:hover {
    background-color: #ffe400;
    color: #161718;
}

.greyText {
    color: #bdbdbd;
}