{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/0a86d3bf39.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>Smithy</title>
</head>
<body>
<div class="col-12">
    <div class="align-items-center d-flex flex-nowrap mx-auto position-fixed py-3 row w-100" id="header">
        <div class="col-md-2 col-lg-1 col-sm-2 col-1 justify-content-left align-items-center me-1 me-md-2 me-lg-3 d-flex">
            <a href="/" class="SmthyLink align-items-center d-flex flex-nowrap">
                <img class="me-2" style="max-width: 25px;" src="{% static 'icons/favicon.ico' %}"> <span
                    class="d-none d-sm-flex">Smithy</span>
            </a>
        </div>
        <div class="col-auto dropdown d-lg-none me-1">
            <button class="btn" id="dropdownBtn" type="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-lg fa-bars mx-auto w-100 h-100" style="color:white"></i>
            </button>
            <div class="dropdown-menu" style="background-color:#161718" aria-labelledby="dropdownBtn">
                <a href="/" class="hdrLink dropdown-item">Campaigns</a>
                <a href="/" class="hdrLink dropdown-item">Characters</a>
                <a href="/" class="hdrLink dropdown-item">Homebrew</a>
            </div>
        </div>
        <div class="col-auto d-lg-block d-none d-flex ms-2 mx-1 px-1">
            <a href="/" class="hdrLink">Campaigns</a>
        </div>
        <div class="col-auto d-lg-block d-none d-flex mx-1 px-1">
            <a href="/" class="hdrLink">Characters</a>
        </div>
        <div class="col-auto d-lg-block d-none d-flex mx-1 px-1">
            <a href="/" class="hdrLink">Homebrew</a>
        </div>
        <div class="d-none d-sm-block col-sm-3 col-md-4 col-lg-5">
            <form id="searchForm">
                <div class="input-group mx-auto w-100" id="searchbar">
                    <input class="col-8 form-control ps-3 border-none" type="search" id="search" placeholder="Search"
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="col-2 col-lg-1 input-group-append">
                        <button class="btn w-100 pe-3" type="submit" id="searchBtn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-1 col-md-1 col-auto d-flex flex-row">
            {% if user.is_authenticated %}
                <a href="/signout"
                   class="me-auto hover btn btn-dark p-2 mx-3 d-inline text-center me-1 orangeBtn text-nowrap"
                   id="signoutBtn">Sign Out</a>
            {% else %}

                <a href="/register" class=" hover btn btn-dark p-2 mx-3 d-inline"
                   id="registerBtn">Register</a>
                <div class="vr d-flex" style="color: #ff5519; opacity:100%; padding:2px"></div>
                <a href="/signin" class="me-auto hover btn btn-dark p-2 mx-3 d-inline text-nowrap"
                   id="signinBtn">Sign In</a>
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column w-100 m-0 mt-5" id="main">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>