{% extends 'base.html' %}
{% load static %}
{% block content %}
    {#    <div class="row d-flex flex-row mx-auto w-100 my-4 position-absolute" style="min-height: 500px">#}
    {#        <div class="col-12 position-absolute" style="z-index: 0">#}
    {#            <img src="{% static 'images/d20.png' %}"#}
    {#                 style="rotation: 45deg; width:100%;object-fit: scale-down;aspect-ratio: 1/1;max-height: 200px;">#}
    {##}
    {#            <img class="ps-5 my-5" src="{% static 'images/d4.png' %}"#}
    {#                 style="rotation: 165deg;object-fit: scale-down;aspect-ratio: 1/1;max-height: 125px;">#}
    {#        </div>#}
    {#    </div>#}
    <div class="row d-flex flex-row mt-4 px-1 px-sm-5 p-2 pt-3 mx-0 w-100 z-1 align-items-center"
         style="background-image: linear-gradient(#3a3b3d, #161718); opacity:80%; height: 12vh; color: white">
        <div class="col-2 d-none d-sm-flex"><h4>Character Builder</h4></div>
        <div class="col-12 col-sm-8 d-flex flex-row px-1 px-sm-5 w-sm-auto">
            <div class="col-auto ms-auto mx-2 mx-sm-auto"><h6><i class="fa-solid fa-2xs fa-circle p-1"
                                                                 style="color: white"></i><a
                    href="{% url 'builder_base' character.characterId %}"
                    style="color:white; text-decoration:none">Base</a></h6></div>
            <div class="vr d-none d-sm-flex mx-auto" style="color: #ff5519; opacity:100%; padding:2px"></div>

            <div class="col-auto mx-2 mx-sm-auto"><h6><i class="fa-solid fa-2xs fa-circle p-1" style="color: white"></i><a
                    href="{% url 'builder_race' character.characterId %}"
                    style="color:white; text-decoration:none">Race</a></h6></div>
            <div class="vr d-none d-sm-flex mx-auto" style="color: #ff5519; opacity:100%; padding:2px"></div>

            <div class="col-auto mx-2 mx-sm-auto"><h6><i class="fa-solid fa-2xs fa-circle p-1" style="color: white"></i><a
                    href="{% url 'builder_class' character.characterId %}"
                    style="color:white; text-decoration:none">Class</a></h6></div>
            <div class="vr d-none d-sm-flex mx-auto" style="color: #ff5519; opacity:100%; padding:2px"></div>

            <div class="col-auto mx-2 mx-sm-auto"><h6><i class="fa-solid fa-2xs fa-circle p-1" style="color: white"></i>Abilities
            </h6></div>
            <div class="vr d-none d-sm-flex mx-auto" style="color: #ff5519; opacity:100%; padding:2px"></div>

            <div class="col-auto me-auto mx-2 mx-sm-auto"><h6><i class="fa-solid fa-2xs fa-circle p-1"
                                                                 style="color: white"></i>Equipment</h6></div>
        </div>
    </div>
    <div class="row toast w-100" id="toast" role="alert" aria-live="assertive" aria-atomic="true" {# Toast #}
         data-delay="3000">
        <div class="toast-body text-center text-white"></div>
    </div>
    <div class="row d-flex flex-row flex-grow-1 mx-auto w-100 my-4" style="height: 100vh">
        <div class="col-lg-2 col-md-2 z-1 corner-border" style="opacity:90%;">
            <div class="pt-5 mt-3 text-center w-100"
                 style="background-color: #262728; min-height:90%; box-shadow: 10px 5px 5px;">
                <h3 class="mb-5 greyText">{{ character.name }}</h3>
                <span class="d-inline-block greyText">{% if character.race %} {{ character.race }} {% else %} No
                    Race {% endif %}</span> <br>
                {% for class in character.classLevel.all %}
                    <span class="d-inline-block greyText"> {{ class.charClass }} </span> <br>
                {% endfor %}

                {% if not character.classLevel.all %}
                    <span class="d-inline-block greyText"> No Class </span> <br>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-6 col-md-6 z-1" style="opacity:90%">
            <div class="p-2 mt-3 text-center w-100 d-flex flex-column"
                 style="min-height:90%;">
                {% include link %}
            </div>
        </div>
    </div>
{% endblock %}